{% extends 'EDTBundle::layoutAdmin.html.twig' %}

{% block admin_body %}

<h3>Formulaire évènement</h3>

<div class="well">

	{{ form_start(form, {'attr': {'class': 'form'}}) }}

	{# Les erreurs générales du formulaire. #}
	{{ form_errors(form) }}
{# LE  titre de l'évenement#}
	<div class="form-group">
		{{ form_label(form.title, "Titre : ", {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.title) }} 	{# Affichage des erreurs pour ce champ précis. #}
	</div>
	{#En 2eme la matiere#}
	<div class="form-group">
		{{ form_label(form.matiere, "Matière : ", {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.matiere, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.matiere) }} 	{# Affichage des erreurs pour ce champ précis. #}
	</div>
	<div class="form-group">
		{{ form_label(form.groupes, "Groupes : ", {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.groupes, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.groupes) }} 	{# Affichage des erreurs pour ce champ précis. #}
	</div>
	<div class="form-group">
		{{ form_label(form.type, "Type de cours : ", {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.type) }} 	{# Affichage des erreurs pour ce champ précis. #}
	</div>
	<div class="form-group">
		{{ form_label(form.salle, "Salle : ", {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.salle, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.salle) }} 	{# Affichage des erreurs pour ce champ précis. #}
	</div>
	<div class="form-group">
		{{ form_label(form.professeur, "Professeur : ", {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.professeur, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.professeur) }} 	{# Affichage des erreurs pour ce champ précis. #}
	</div>

	<div class="form-group">
		{{ form_label(form.startDatetime, "Date début : ", {'label_attr': {'class': 'control-label'}}) }}
		<div class='input-group date' id='datetimepicker1'>
				{{ form_widget(form.startDatetime, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.startDatetime) }}
		            <span class="input-group-addon">
		                <span class="glyphicon glyphicon-calendar"></span>
		            </span>
      </div>
	</div>

	<div class="form-group">
		{{ form_label(form.endDatetime, "Date fin : ", {'label_attr': {'class': 'control-label'}}) }}
				<div class='input-group date' id='datetimepicker2'>
						{{ form_widget(form.endDatetime, {'attr': {'class': 'form-control'}}) }}
	            <span class="input-group-addon">
	                <span class="glyphicon glyphicon-calendar"></span>
	            </span>
	        </div>
				{{ form_errors(form.endDatetime) }} 	{# Affichage des erreurs pour ce champ précis. #}
			</div>

	<div class="form-group">
				{{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}
	</div>

	{{ form_end(form)}}
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$( document ).ready(function() {
			$('#datetimepicker1').datetimepicker({
				locale: 'fr'
			});

			$('#datetimepicker2').datetimepicker({
				locale: 'fr'
			});
		});
	</script>

{% endblock %}
