{% extends 'EDTBundle::layoutAdmin.html.twig' %}

{% block admin_body %}

<h3>Formulaire ProfMatière</h3>

<div class="well">

	{{ form_start(form, {'attr': {'class': 'form'}}) }}

	{# Les erreurs générales du formulaire. #}
	{{ form_errors(form) }}

	<div class="form-group">
		{{ form_label(form.responsable, "Responsable : ", {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.responsable, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.responsable) }} 	{# Affichage des erreurs pour ce champ précis. #}
	</div>

	<div class="form-group">
		{{ form_label(form.matiere, "Matière : ", {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.matiere, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.matiere) }} 	{# Affichage des erreurs pour ce champ précis. #}
	</div>

	<div class="form-group">
		{{ form_label(form.professeur, "Professeur : ", {'label_attr': {'class': 'control-label'}}) }}
		{{ form_widget(form.professeur, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.professeur) }} 	{# Affichage des erreurs pour ce champ précis. #}
	</div>

	<div class="form-group">
		{{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}
	</div>

	{{ form_end(form)}}

</div>
{% endblock %}
