{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{% extends 'EDTBundle::layoutAdmin.html.twig' %}

{% block admin_body %}

<h3>Formulaire salle</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  <div class="form-group">
    {{ form_label(form.numSalle, "Numéro de salle : ", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.numSalle, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.numSalle) }}   {# Affichage des erreurs pour ce champ précis. #}
  </div>

  <div class="form-group">
    {{ form_label(form.numBatiment, "Numéro batiment : ", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.numBatiment, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.numBatiment) }}   {# Affichage des erreurs pour ce champ précis. #}
  </div>

  <div class="form-group">
    {{ form_label(form.capacite, "Capacité : ", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.capacite, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.capacite) }}  {# Affichage des erreurs pour ce champ précis. #}
  </div>

  <div class="form-group">
    {{ form_label(form.type, "Capacité : ", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.type) }}  {# Affichage des erreurs pour ce champ précis. #}
  </div>

  <div class="form-group">
    {{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}
  </div>

  {{ form_end(form)}}
</div>


{% endblock %}

