{% extends "::base.html.twig"%}

{% block javascripts %}
  {{parent()}}
  <script>
    $(".nav li").on("click", function() {
      $(".nav li").removeClass("active");
      $(this).addClass("active");
    });
  </script>
{% endblock %}

{% block body %}

  <div id="menu" class="col-md-2 col-md-offset-0">
      <h3>-Gestion Entités-</h3>
         <ul class="nav nav-pills nav-stacked">
             {#path pour appeler d'autre routes #}
           <li><a href="{{path('edt_user_view', {'entite' : 'Etudiant'} )}}">Etudiant</a></li>
           <li><a href="{{path('edt_user_view', {'entite' : 'Professeur'} )}}">Professeur</a></li>
           <li><a href="{{path('edt_entite_view', {'entite' : 'Evenement'} )}}">Évènement</a></li> 
           <li><a href="{{path('edt_entite_view', {'entite' : 'Salle'} )}}">Salle</a></li>
           <li><a href="{{path('edt_entite_view', {'entite' : 'Matiere'} )}}">Matière</a></li>
           <li><a href="{{path('edt_entite_view', {'entite' : 'ProfMatiere'})}}">Professeur-Matiere</a></li>
           <li><a href="{{path('edt_entite_view', {'entite' : 'Type'}) }}">Type</a></li>
           <li><a href="{{path('edt_entite_view', {'entite' : 'Groupe'}) }}">Groupe</a></li>
         </ul>
  </div>

<div class="col-md-8 col-md-offset-1">
  {% block admin_body %}
  {% endblock %}
</div>

{%endblock%}
