<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />

	<title>{% block title %}Agenda Universitaire{% endblock %}</title>

	{% block stylesheets %}
	<link rel="icon" 		type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<link rel="stylesheet" 	type="text/css" 	href="{{ asset('bundles/edt/css/bootstrap.css') }}">
	<link rel="stylesheet" 	type="text/css" 	href="{{ asset('bundles/edt/css/bootstrap-datetimepicker.css') }}">

	{# fourni avec calendar-bundle 	(v1.5.3) #}
	{# <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" /> #}

	{# version ajoutée manuellement (v2.6.1) #}
	<link rel="stylesheet" 	type="text/css" 	href="{{ asset('bundles/edt/css/fullcalendar.css') }}" />

	{# css à part #}
	<link rel="stylesheet" 	type="text/css" 	href="{{asset('bundles/edt/css/style.css')}}">
	{% endblock %}
</head>
<body>
	{% if is_granted("IS_AUTHENTICATED_FULLY") %}
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Agenda Universitaire</a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="{{ path('edt_homepage')}}">Agenda</a></li>
						{% if is_granted('ROLE_ADMIN') %}
						<li><a href="{{ path('admin_home_page')}}">Administration</a></li>
						{% endif %}
						<li><a href="{{ path('edt_a_propos')}}">A propos</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						{% if is_granted('ROLE_USER') %}
						<li><a href="{{path('fos_user_profile_show')}}">Mon Compte</a></li>
						<li><a href="{{path('fos_user_security_logout')}}">Se déconnecter</a></li>
						{% else %}
						<li><a href="{{path('fos_user_security_login')}}">Se Connecter</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</div>
	{% endif %}

	<div class="container">
		{% block body %}{% endblock %}
	</div>

	{% block javascripts %}
	{# ajout manuel (v2.6.1) #}
	<script type="text/javascript" src="{{ asset('bundles/edt/js/jquery-1.12.3.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/edt/js/moment.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/edt/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/edt/js/fullcalendar.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/edt/js/lang-all.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/edt/js/config-fullcalendar.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/edt/js/fr.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/edt/js/bootstrap-datetimepicker.js') }}"></script>

	{# issu de calendar-bundle 	(v1.5.3) #}
	{#<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>#}

	<script type="text/javascript" src="{{ asset('bundles/edt/js/bootstrap.js') }}"></script>

	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% endblock %}

	<footer class="footer">
		<div class="container-fluid text-muted">
			<div class="row">
				<div class="col-lg-6 text-left">
					Auteurs du site : Dimitri, Jérémy, Mehdi, Thomas<br>
					Encadrant : Florent Nolot
				</div>
				<div class="col-lg-6 text-right">
					Projet INFO0606<br>
					The sky's the limit © {{ 'now'|date('Y') }} and beyond.
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
